/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body,
#root,
#__next {
  height: 100%;
}

body {
  font-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
}

img,
picture,
video,
canvas {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --color-darkred: darkred;
  --color-mistyrose: mistyrose;
  --color-lightblue: lightblue;
  --color-mediumblue: mediumblue;
  --color-light-gray: lightgrey;
  --color-light-green: lightgreen;
  --color-dark-green: darkgreen;
  --color-gray: grey;
  --color-darkslategrey: darkslategrey;
  --color-black: #333;
  --color-gold: gold;
  --color-brown: brown;
}

kbd {
  background-color: var(--color-lightblue);
  padding: 0.19ex 0.5ch;
  font-family: monospace;
  text-transform: uppercase;
  font-size: 0.875em;
}
